*{
    background-color: #1d1d1d;
    margin: 0%;
}


body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    
}

.main-content {
    display: flexbox;
    flex-direction: row;
    flex: 1;


}

.main-content1{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;


}

#menu{
background-color: #0e0e0e;
border: 1px solid black;
width: 300px;
height: 99.8vh;
}


/* Links menu */
#menu a{
    text-decoration: none;
    color: white;
    background-color: #0e0e0e;
}




/* Textos formatados */
#menu h1{
    color: #8c8712;
    background-color: #0e0e0e;
    padding-top: 50px;
    margin-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu h5{
    background-color: #0e0e0e;
    color: white;
    text-align: center;
    padding-left: 1px;
    padding-top: 15px;
}





/* Lista menu */

#menu ul{
    background-color: #0e0e0e;
    margin-top: 200px;
    margin-left: 100px;
    padding-left: 5px;
}

#menu li{
    background-color: #0e0e0e;
    color: white;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    
}



/* Links */

.links a{
    text-decoration: none;
    color: white;
}

.links ul{
    background-color: #0e0e0e;
    margin-left: 100px;
    padding-left: 5px;
}

.links li{
display: inline;
padding: 10px;
padding-left: 1px;
margin-left: 12px;
}







/* Contato */

p {
    margin-bottom: 5px; /* Espaço entre parágrafos */
}

.ct {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 150px;

}

.ct1{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 150px;

}


.imagem{
    background-color: #0e0e0e;
    margin-right: 250px;
    position: fixed;
    height: 65px;
}


.img{
    background-color: #0e0e0e;
    position: relative;
    bottom: 30px;
    left: 35px;
    width: 90px;
}

.email{
    background-color: #0e0e0e;
    position: relative;
    bottom: 30px;
    left: 35px;
    width: 80px;
}

.conteudo {
    margin-top: 3px;
    background-color: #0e0e0e;
    width: 395px;
    padding: 50px 10px 40px 10px;
    position: relative;
    top: 200px;
    left: 350px;
    margin-right: 100px;
    display: inline-block;
    border-radius: 1cap;
    box-shadow: 1cap 1cap 1cap -1cap #8c8712;
    
}

.conteudo:hover{
    transition: 0.5s;
    transform: translateY(-20px);
    box-shadow: 1cap 1cap 1cap -1cap #1b1b1b;
}


.conteudo h5{
    color: white;
    background-color: #0e0e0e;
    text-align: left;
    position: relative;
    left: 170px;
    bottom: 2px;
    max-width: 225px;
    
}



/* Formulario Contato */
#form {
    display: flex;
    flex-direction: row;
    width: 1450px;
    padding-left: 20px;
    margin-top: 250px;
    display: inline;
    margin-bottom: 20px;
    padding-top: 50px;
    position: relative;
}


.form-group {
    display: flex;
    justify-content: space-between;
}

#form h1{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nome,
.emails{
    margin-top: 50px;
    padding-right: 45px;
    padding-left: 15px;
    flex: 1;
}

.assuntos input{
    margin-top: 50px;
    flex: 1;
    width: 96%;
    height: 40px;
    color: white;
    border-color: #8c8712;
    margin-left: 15px;
    border-radius: 1cap;  
}

textarea {
    margin-top: 50px;
    width: 96%;
    border-color: #8c8712;
    margin-left: 15px;
    height: 75px;
    color: white;
    flex: 1;
    border-radius: 1cap;  
}

.nome input,
.emails input{
    width: 100%;
    height: 40px;
    color: white;
    border-color: #8c8712;
    border-radius: 1cap;    
}

.botao{
    display: flex;
    justify-content: center; /* Centraliza o botão */
    padding-left: 20px;
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #D4CC12; 
    border: none; 
    color: black; 
    padding: 10px 60px; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 1cap;
    transition: 1s; 
    position: relative;
    right: 10px;

}

input[type="submit"]:hover {
    background-color: #c98b06;
    transition: 1s; 
}




/* Pagina Sobre*/

.conteudo1{
    background-color: #0e0e0e;
    width: 357px;
    height: 25%;
    padding: 50px 10px 40px 10px;
    position: relative;
    top: 280px;
    left: 150px;
    border-radius: 1cap; 
    box-shadow: 1px 1px 15px 5px #8c8712;
    float: left;

    
}

.imagem1{
    background-color: #0e0e0e;
    margin-right: 250px;
    position: absolute;
    height: 65px;
}

.img1{
    background-color: #0e0e0e;
    position: relative;
    width: 275px;
    left: 40px;
    bottom: 20px;
    

}

.ct2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 275px;
    margin-left: 600px;
   

}

.ct3{
    color: #8c8712;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 60px;
    margin-left: 150px;
}

.stack{
    position: relative;
    top: 120px;
    margin-left: 150px;
    padding: 10p;
}

.html{
    width: 100px;
    position: relative;
    bottom: 40px;
    right: 15px;
}

.css{
    width: 67px;
    position: relative;
    bottom: 40px;
}

.ct2 h1{
    color: #8c8712;
}

.botao1{
    display: flex;
    margin-left: 605px;
    margin-top: 300px;
}


/* Pagina Home*/

.cthome{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin-top: 375px;
    text-align: center;
    right: 250px;
}

.cthome h1{
    text-align: center;
    color: #8c8712;
    font-size: 50px;
    
}

.imghome{
    width: 500px;
    position: relative;
    margin-top: 550px;
    margin-left: 75px;
    float: left;

}

.imghome2{
    width: 300px;
    position: relative;
    margin-bottom: 600px;
    left: 600px;

}


/*Pagina Portfolio*/

.conteudop{
    background-color: #0e0e0e;
    width: 395px;
    height: 50px;
    padding: 40px 10px 40px 10px;
    position: relative;
    top: 195px;
    left: 75px;
    margin-right: 100px;
    margin-top: 60px;
    display: inline-block;
    border-radius: 1cap;
    box-shadow: rgba(140, 135, 18, 0.8) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s;
    transform: translateY(0px);
}

.portbox{
    width: 100%;
    height: 90px;
    text-align: center;
    align-content: center;
    background-color: #0e0e0e;
}




.conteudop:hover, .conteudop1:hover, .portbox:hover{
    transition: 0.5s;
    transform: translateY(-20px);
    box-shadow: 1cap 1cap 1cap -1cap #1b1b1b;
    background: gray;
    opacity: 0.5;
}







